<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <properties resource="config/db.properties"></properties>
    
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>



 <typeAliases>
 	<!-- MemberVO  -->
  	<typeAlias type="co.yedam.otd.member.vo.MemberVO" alias="MemberVO"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <!-- Mapper 추가 영역 -->
  <mappers>
    <mapper resource="co/yedam/otd/member/serviceImpl/member-map.xml"/>
  </mappers>
</configuration>